soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com/addcustomer"
    targetNamespace="http://example.com/addcustomer"
    name="AddCustomerService">

  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/addcustomer" elementFormDefault="qualified">
      <xsd:element name="AddCustomerRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="dob" type="xsd:string"/>
            <xsd:element name="panNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="AddCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="customerNumber" type="xsd:string" minOccurs="0"/>
            <xsd:element name="errors" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="AddCustomerRequest">
    <wsdl:part name="parameters" element="tns:AddCustomerRequest"/>
  </wsdl:message>

  <wsdl:message name="AddCustomerResponse">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse"/>
  </wsdl:message>

  <wsdl:portType name="AddCustomerPortType">
    <wsdl:operation name="AddCustomer">
      <wsdl:input message="tns:AddCustomerRequest"/>
      <wsdl:output message="tns:AddCustomerResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AddCustomerBinding" type="tns:AddCustomerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="AddCustomer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="AddCustomerService">
    <wsdl:port name="AddCustomerPort" binding="tns:AddCustomerBinding">
      <soap:address location="http://localhost:8080/mockAddCustomerService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
